{% extends 'base.html' %}
{% block title %}Мои заказы{% endblock %}
{% block content %}
    <h2 class="custom-card p-3">Мои заказы</h2>
    {% if orders %}
        <ul class="order-list p-0">
            {% for order in orders %}
                <li class="order-item custom-card p-3 mb-3">
                    <h3>Заказ #{{ order.id }} от {{ order.created_at|date:"d.m.Y H:i" }}</h3>
                    <p>Адрес доставки: {{ order.address }}</p>
{#                    <p>Итого: {{ total_price|floatformat:2 }} руб.</p>#}
                    <ul class="order-items">
                        {% for item in order.items.all %}
                            <li>{{ item.engine.model }} ({{ item.quantity }} шт.) - {{ item.price|floatformat:2 }} руб.</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="p-3 custom-card">У вас нет заказов.</p>
    {% endif %}
{% endblock %}